@import './base.css';

.logo{
  height: 50px;
}

.nomePagina {
  font-size: 35px; /* Altere o tamanho do texto para o desejado */
  font-family: "comic-sans";
  font-style: italic; /* Coloque o texto em itálico */
  color: white;
  display: flex;
  justify-content: center;
}

body {
  /* background-color: rgba(0, 0, 0, 0.458); */
  background-color: rgba(0, 0, 0, 0.442);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

footer{
  background-color: rgba(0, 0, 0, 0.411);
  height: 80px;
  font-size: 35px;
  font-style: italic;
  font-family: "comic-sans";
  color: white;
}


/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
