@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

*,
body {
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: 'Segoe UI';
}

/* 
  cor da fonte: #2C3E50 
  cor de texto clicável: rgb(34, 84, 176)
*/

body,
.App {
  background-color: white;
}