@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

.logo{
  height: 50px;
}

.nomePagina {
  font-size: 35px; /* Altere o tamanho do texto para o desejado */
  font-family: 'Segoe UI';
  color: rgb(229, 228, 228);
}

.header-content{
  background-color: rgba(0,0,0,0.834);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
  align-items: center; 
}

.menu{
  display: flex;
  /* remove marcações de lista */
  list-style: none;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  color: white;
  font-size: 20px;
  font-family:'Segoe UI';
  text-decoration: none ;
}

body {
  /*isso resolveu as barras pretas*/
  /* border-top:1px solid black; */
  border-bottom:1px solid black;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
}

footer{
  background-color: rgba(0, 0, 0, 0.834);
  height: 80px;
  font-size: 20px;
  font-family: 'Segoe UI';
  color: white;
}

button[type="submit"] {
  padding: 10px;
  font-size: 18px;
  background-color: rgb(173, 100, 237);
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
  width: 35%;
  max-width: 300px;
  box-sizing: border-box;
}

label{
  font-size: 20px;
}